 


     .header {
           position: relative;
           height: 100vh;
           width: 100%;
           overflow: hidden;
           background: #090909;
     }


     .cloud {
         position: absolute;
         top: 0%;
         height: 100%;
         width: 80%;

     }

     .cloud img{
           height: 100%;
           width: 100%;
           object-fit: cover;
     }

     .cloud-left {
           left: 0%;
           width: 80%;
           height: 80%;
     }

     .cloud-right {
          right: -10%;
          width: 50%;
          height: 50%;
     }

     .cloud-top{
          top: 0;
          left: 50%;
          width: 70%;
          height: 70%;    
     }

     .cloud-Top_2 {
          top: 20%;
          left: 20%;
          width: 70%;
          height: 70%;
          
     }

     .cloud-bottom {
        
          bottom: 0;
          left: 25%;
          width: 50%;
          height: 50%;

     }

     .top-left {
           top: -20%; 
           left: -30%;
           width: 80%;
           height: 80%;
          
     }

     .top-right {
           top: -20%; 
           right: -30%;
           width: 80%;
           height: 80%;
          
     }

     .bottom-left {
          
           left: 20%;
           width: 80%;
           height: 80%;
           
     }

       .bottom-right {
           bottom: 0;
           right: 0%;
           width: 50%;
           height: 50%;
         
     }

     .hero-left {
         margin-top: 15%;
         left: -40%;
         width: 80%;
         height: 80%;
     }


     .hero-right{
          margin-top: 20%;
          right: -40%;
          width: 80%;
          height: 80%;
     }

     .move-hero-bottom-left{
          transform: translateX(-20%);
          transition: transform 3s ease-in-out;
     }

     .move-hero-bottom-right{
          transform: translateX(20%);
          transition: transform 3s ease-in-out;
     }




     .move-left {
          transform: translateX(-70%);
          transition: transform 3s ease-in-out;
     }

     .move-right {
          transform: translateX(70%);
          transition: transform 3s ease-in-out;
     }

     .move-top{
           transform: translateY(60%);
           transition: transform 3s ease-in-out;
     }

     .move-bottom {
           transform: translateY(-60%);
           transition: transform 3s ease-in-out;
     }

     .move-top-left {
           transform: translate(-60%, -60%);
           transition: transform 3s ease-in-out;
     }

     .move-top-right {
           transform: translate(60%, -60%);
           transition: transform 3s ease-in-out;
     }

     .move-bottom-left {
           transform: translate(50%, -50%);
           transition: transform 3s ease-in-out;
     }

     .move-bottom-right {
           transform: translate(50%, 50%);
           transition: transform 3s ease-in-out;
     }


     


     
      

       .logo{
           display: flex;
           justify-content: center;
       }

       .logo .astrologo {
               
               height: 350px;
               width: 350px;
               cursor: pointer;
               transition: transform 0.3s ease;

       }

       .logo .astrologo:hover{
           transform: scale(1.05);
       }

       .buttons{
              display: flex;
              justify-content: space-around;
              align-items: center;
       }

       

       .btn1 {
         background-color: black;
           border: none;
            opacity: "none";
             border-radius: 30px;
              padding: 10px 30px;
               color: white;
                font-family: "Poppins", sans-serif;
                
       }

       

       .btn2 {

           background-color: black;
           border: none;
            opacity: "none";
             border-radius: 30px;
              padding: 10px 30px;
               color: white;
                font-family: "Poppins", sans-serif;

       }

       .btn1:hover{
          background-color: rgb(60, 60, 60);
          color: white;
       }

        .btn2:hover{
          background-color: rgb(60, 60, 60);
          color: white;
       }

       .head1 {
           text-align: center;
           font-family: "Mystery Quest", system-ui;
           font-weight: bold;
           font-size: 20px;
       }

       .head2{
          text-align: center;
          font-family: "Mystery Quest", system-ui;
          font-weight: bold;
          font-size: 35px;
       }

       .hero-content {
           margin-top: 12%;
       }



       .centerContent {
  position: absolute;
  inset: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  margin-top: -10%;
}

.heroTextSmall {
  font-size: 80px;
   font-family: "Mystery Quest", system-ui;

}

.heroTextBig {
  font-size: 120px;
  margin-top: -10px;
   font-family: "Mystery Quest", system-ui;
}


/* Responsivness */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}



@media (min-width: 1600px) {
  .logo .astrologo {
    width: 450px;
  }

  .heroTextSmall {
    font-size: 90px;
  }

  .heroTextBig {
    font-size: 140px;
  }
}


@media (max-width: 1599px) {
  .logo .astrologo {
    width: 340px;
  }

  .heroTextSmall {
    font-size: 70px;
  }

  .heroTextBig {
    font-size: 110px;
  }
}


@media (max-width: 1199px) {
  .logo .astrologo {
    width: 260px;
  }

  .head1 {
    font-size: 18px;
  }

  .head2 {
    font-size: 28px;
  }

  .heroTextSmall {
    font-size: 55px;
  }

  .heroTextBig {
    font-size: 85px;
  }

  .buttons {
    gap: 20px;
  }

  .centerContent {
    margin-top: -5%;
  }

  .cloud {
    width: 100%;
    height: 70%;
  }
}



@media (max-width: 768px) {
  .logo .astrologo {
    width: 200px;
  }

  .head1 {
    font-size: 16px;
  }

  .head2 {
    font-size: 22px;
    padding: 0 10px;
  }

  .heroTextSmall {
    font-size: 38px;
  }

  .heroTextBig {
    font-size: 60px;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

 .btn1,
  .btn2 {
    width: 75%;
    min-width: unset;
  }

  .centerContent {
    margin-top: 0;
  }

  /* Reduce cloud dominance on mobile */
  .cloud {
    width: 130%;
    height: 60%;
    opacity: 0.9;
  }
}


@media (max-width: 480px) {
  .logo .astrologo {
    width: 160px;
  }

  .head1 {
    font-size: 14px;
  }

  .head2 {
    font-size: 18px;
  }

  .heroTextSmall {
    font-size: 28px;
  }

  .heroTextBig {
    font-size: 45px;
  }

  .btn1,
  .btn2 {
    width: 85%;
    padding: 10px 20px;
  }

  .cloud {
    width: 150%;
    height: 55%;
  }
}


.buttons button {
  min-width: 220px;
  text-align: center;
}






    